@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: auto;
}

header {
  background-color: #3BA99C;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "alegreya", sans-serif;
  font-size: 1.5em;
}
#menu {
  background-color: #3BA99C;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}


.desordenada{
  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.menuprincipal {

  width: 80px;
  height: 40px;
  font-family: "alegreya", sans-serif;
  background-color: #3BA99C;
  display: flex;
  border-style: none;
  list-style-type: none;
  font-size: 1em;
  border-radius: 50px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #023e8a;
}

.menuprincipal:hover {
  box-shadow: 4px 4px 5px;
  color: #423E3B;
  background-color: #7EBCE6;
}






.Contenido {
  background-color: #ADE1E5;
  width: 100%;
  height: 700px;
  display: flex;

}


.DeRecha {
  background-color: #7EBCE6;
  width: 30%;
  height: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
border-style: outset;
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
}


.derecha {
  background-color: #7EBCE6;
  width: 40%;
  height: 350px;
text-align: center;
justify-content: center;
border-radius: 30px;
border-style: outset;
padding-top: 60px;
padding-left: 2%;
padding-right: 2%;
}

.Derecha {
  background-color: #7EBCE6;
  width: 30%;
  height: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
border-style: outset;
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
}

.dErecha{
  background-color: #7EBCE6;
  width: 30%;
  height: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
border-style: outset;
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
}

.DERECHA{
  background-color: #7EBCE6;
  width: 30%;
  height: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
border-style: outset;
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
}

.deRecha{
   background-color: #7EBCE6;
  width: 30%;
  height: 200px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
border-style: outset;
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
}